
//header//
@import 'header.styl'


//sidebar//
@import 'sidebar.styl'


//dashboard//
@import 'dashboard.styl'


//login//

@import 'login.styl'


//footer//

@import 'footer.styl'

//sidebar-right//

@import 'sidebar-right.styl'


//employee-management//

@import 'employee-management.styl'

//top-nav//

@import 'top-nav.styl'


//on-boarding//

@import 'on-boarding.styl'

//step2Form//

@import 'step2Form.styl'