.container
    margin-right 230px
    margin-left 230px
    max-width 890px
    .row
        .card
            .card-body
                .card-title
                    font-size 20px
                    color #004085
                .icon
                    font-size 30px
                    color #007bff9e
.card
    box-shadow 1px 2px 4px #6c757d
    border-radius 8px
body
    background #f1f1f1