.wrapper-emp
    .container
        width auto
        max-width 1140px
        .row
            .col-lg-5
                .card
                    min-height 200px
                    .card-body
                        .card-title
                            color #6c757d
                            font-size 24px
                        .card-menu
                            list-style none
                            margin 0px
                            padding 0px
                            .card-list-item
                                padding-bottom 10px
                                .card-link
                                    color #1564b9
                                    font-size 14px
                                    i
                                        padding-right 4px
        .row
            .col-lg-7
                .row
                    .col-lg-4
                        .card
                            min-height 100px
                            .card-body
                                padding 15px
                                display flex
                                .card-icons
                                    font-size 30px
                                    color #1564b9
                                .card-icon-info
                                    font-size 12px
                                    margin-left 30px
                                    .card-info-head
                                        font-size 20px
                                    p
                                        margin 0px

.row
    .col-lg-5
        .card
            color #3a628c
            .card-header
                background white
                padding 10px
                .card-icon
                    font-size 24px
                    float left
                .card-button
                   position absolute
                   top 21px
                   right 10px
                   border 1px solid #000
                   border-radius 50%
                   width 20px
                   height 20px
                   font-size 12px
                   text-align center
                   line-height 17px
            .card-body
                .card-list-date
                    display flex
                    flex-direction column
                    align-items center
                    justify-content center
                    width 4rem
                    height 4rem
                    border-right 1px solid #ddd
                .card-list-info
                    display flex
                    border-top 1px solid #ddd
                    padding 5px 
                    align-items center
                    &:first-child
                        border none
                    .card-profile-details
                        width calc(100% - 78px)
                        padding-left 0.6rem

                
.no-padding
    padding 0px
                        






.card
    box-shadow 1px 2px 4px #565555
.card:hover
    cursor pointer


                    
                    