footer
    font-size 12px
    border 1px solid rgba(0,0,0,.125)
    box-shadow 1px 2px 4px #6c757d
    border-radius 8px
    margin-left 240px
    background white
    .container-fluid
        padding 10px 20px
        margin auto
        .footer-text
            background white
@media screen and (max-width : 992px)
    footer
        width 730px