.header-wrapper
    min-height 65px
.navbar
    background #3a628c
    padding .3rem 1rem
    position fixed
    z-index 1040
    .navbar-brand
        font-size 30px
        color white
        span
            color #a7ff00
    button
        .navbar-toggler-icon
            color white

.navbar-nav
    .nav-item
        .nav-link
            color white !important
            i:hover
                transform rotate(180deg)
                transition all 0.8s ease
                transform-origin 50% 50%
                cursor pointer
                




           