.wrapper-login
    min-height calc(100vh - 102.59px)
    .container
        margin-right 230px
        margin-left 230px
        max-width 960px
        padding-top 3rem
        // height calc(500px - 35px)
        .form-card
            max-width 40%
            background white
            width 100%
            margin auto
            display flex
            justify-content center
            align-items center
            border-radius 10px
            form
                .form-group
                    .form-control
                        width auto