.wrapper-right
    display block
    right 0px
    width 230px
    .sidebar-right
        .card
            .card-body
                .card-title
                    font-size 20px
                    color #004085
                .card-text
                    font-size 14px
