.wrapper-top-nav
    margin-left 240px
    .top-nav
        box-shadow 1px 2px 4px #6c757d
        border-radius 8px
        background white
        .nav
            .nav-item
                .nav-link
                    border-right 1px solid #dee2e6
                    color black
                    border-radius 4px
                .nav-link:hover
                    background #3a628c
                    color white
                    cursor pointer
                    transition 0.4s all ease-in-out
