<app-header></app-header>
<app-sidebar></app-sidebar>
<app-top-nav></app-top-nav>
<div class="wrapper-emp">
  <div class="container p-3 mr-0">
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 col-12">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Favourites</h4>
            <ul class="card-menu">
              <li class="card-list-item"> <a class="card-link" [routerLink]="['/on-boarding']"> <i class="fas fa-user-plus"></i> Add New Employee</a> </li>
              <li class="card-list-item"> <a class="card-link" [routerLink]="['/R']"> <i class="fas fa-newspaper"></i> New Newsletter</a> </li>
              <li class="card-list-item"> <a class="card-link" [routerLink]="['R/']"> <i class="fas fa-bullhorn"></i> New Notice</a> </li>
              <li class="card-list-item"> <a class="card-link" [routerLink]="['/r']"> <i class="fas fa-user-edit"></i> Profile Approve requests</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 px-1 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="card-icons">
                  <i class="fas fa-user-edit"></i>
                </div>
                <div class="card-icon-info">
                  <div class="card-info-head">0</div>
                  <p>Profile</p>
                  <p>approve requests</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 px-1 mb-3">
            <div class="card">
              <img class="card-img-top" src="holder.js/100px180/" alt="">
              <div class="card-body">
                <div class="card-icons">
                  <i class="fas fa-user-times"></i>
                </div>
                <div class="card-icon-info">
                  <p class="card-info-head">0</p>
                  <p>Profile</p>
                  <p>approve requests</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 px-1 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="card-icons">
                  <i class="fas fa-user-plus"></i>
                </div>
                <div class="card-icon-info">
                  <p class="card-info-head">0</p>
                  <p>Profile</p>
                  <p>approve requests</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 px-1 mb-3">
            <div class="card">
              <img class="card-img-top" src="holder.js/100px180/" alt="">
              <div class="card-body">
                <div class="card-icons">
                  <i class="far fa-file"></i>
                </div>
                <div class="card-icon-info">
                  <p class="card-info-head">0</p>
                  <p>Profile</p>
                  <p>approve requests</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-12 col-sm-12 col-12 px-1 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="card-icons">
                  <i class="far fa-calendar-check"></i>
                </div>
                <div class="card-icon-info">
                  <p class="card-info-head">0</p>
                  <p>Profile</p>
                  <p>approve requests</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-12 col-sm-12 col-12 mb-3">
        <div class="card mb-3">
          <div class="card-header">
            <div class="card-icon"> <i class="far fa-user-circle"></i> 
            <span class="card-title pl-1">Celebrations</span>
            <div class="card-button"> <i class="fas fa-chevron-right"></i> </div>
          </div>
        </div>
          <div class="card-body border-top no-padding">
            <div class="card-list-info">
              <div class="card-list-date">15<br>AUG</div>
              <!-- <div class="card-profile-icon pr-2"> <img src="images.JPG"></div> -->
              <div class="card-profile-details">
                <div class="card-profile-name text-uppercase m-0"> CHAITANYA D S</div>
                <div class="card-profile-desig"> <small> Software Engineer </small></div>
              </div>
              <div class="celeb-icon">
              <i class="fas fa-birthday-cake"></i>
            </div>
            </div>
          
         
            <div class="card-list-info">
              <div class="card-list-date">15<br>AUG</div>
              <!-- <div class="card-profile-icon pr-2"> <img src="images.JPG"></div> -->
              <div class="card-profile-details">
                <p class="card-profile-name text-uppercase m-0"> CHAITANYA D S</p>
                <p class="card-profile-desig"> <small> Software Engineer </small></p>
              </div>
              <div class="celeb-icon">
              <i class="fas fa-birthday-cake"></i>
            </div>
            </div>
          </div>
         
       
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-icon"> <i class="far fa-user-circle"></i> 
          <span class="card-title pl-1">Celebrations</span>
          <div class="card-button"> <i class="fas fa-chevron-right"></i> </div>
        </div>
      </div>
      <div class="card-body border-top no-padding">
        <div class="card-list-info">
          <div class="card-list-date">15<br>AUG</div>
          <!-- <div class="card-profile-icon pr-2"> <img src="images.JPG"></div> -->
          <div class="card-profile-details">
            <div class="card-profile-name text-uppercase m-0"> CHAITANYA D S</div>
            <div class="card-profile-desig"> <small> Software Engineer </small></div>
          </div>
          <div class="celeb-icon">
          <i class="fas fa-birthday-cake"></i>
        </div>
        </div>
      
     
        <div class="card-list-info">
          <div class="card-list-date">15<br>AUG</div>
          <!-- <div class="card-profile-icon pr-2"> <img src="images.JPG"></div> -->
          <div class="card-profile-details">
            <p class="card-profile-name text-uppercase m-0"> CHAITANYA D S</p>
            <p class="card-profile-desig"> <small> Software Engineer </small></p>
          </div>
          <div class="celeb-icon">
          <i class="fas fa-birthday-cake"></i>
        </div>
        </div>
      </div>
       
     
    </div>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12 col-12 px-1">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"></h4>
            <chart [options]="options" (load)="saveInstance($event.context)"></chart>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-12">
     
      </div>
    </div> -->
  </div>
</div>
<app-footer></app-footer>
