// .sidebar
//     width 230px
//     height 100%
//     border-right 1px solid grey
//     box-shadow 1px 2px 2px grey
//     overflow auto
//     background-color whitesmoke
//     .sidebar-menu
//         list-style none
//         padding 0px
//         margin 0px
//         .sidebar-menu-item
//             &-link
//                 display block
//                 padding 10px
//                 color #797978
//                 margin-left 5px
//                 cursor pointer

           