<div class="sidebar position-fixed pb-5">
    <ul class="sidebar-menu">
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-item-link" [routerLink]="['/dashboard']">
                <span class="icon"> <i class="fas fa-tachometer-alt"></i></span>
                Dashboard</a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-item-link" [routerLink]="['/employee-management']">
                <span class="icon"> <i class="fas fa-users"></i></span>
                Employee Management</a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-item-link" [routerLink]="['/t']">
                <span class="icon"> <i class="fas fa-history"></i></span>
                Time Management</a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                <span class="icon"> <i class="fas fa-clock"></i></span>
                Time & Attendance</a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                <span class="icon"> <i class="fas fa-calendar-alt"></i></span>
                Leave System</a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                <span class="icon"> <i class="fas fa-sign-out-alt"></i></span>
                Off Boarding</a>
        </li>
        <li class="sidebar-menu-item">
            <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                <span class="icon"> <i class="fas fa-calendar-check"></i></span>
                Holiday Calendar</a>
        </li>
        <li class="sidebar-menu-item">
                <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                    <span class="icon"> <i class="fas fa-tty"></i></span>
                    HR Assistant</a>
            </li>
            <li class="sidebar-menu-item">
                    <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                        <span class="icon"> <i class="fas fa-user-tie"></i></span>
                        Visitor Management</a>
                </li>
                <li class="sidebar-menu-item">
                        <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                        <span class="icon"> <i class="fas fa-certificate"></i></span>
                            Recruitment</a>
                    </li>
                    <li class="sidebar-menu-item">
                            <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                                    <span class="icon"> <i class="fas fa-chart-line"></i></span>
                                Appraisal</a>
                        </li>
                        <li class="sidebar-menu-item">
                                <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                                        <span class="icon"> <i class="fas fa-clipboard"></i></span>
                                    Approvals</a>
                            </li>
                            <li class="sidebar-menu-item">
                                    <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                                            <span class="icon"> <i class="fas fa-chalkboard-teacher"></i></span>
                                        Training Management</a>
                                </li>
                                <li class="sidebar-menu-item">
                                        <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                                                <span class="icon"> <i class="fas fa-laptop"></i></span>
                                            Assets</a>
                                    </li>
                                    <li class="sidebar-menu-item">
                                            <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                                                    <span class="icon"> <i class="fas fa-cogs"></i></span>
                                                Customer Report Generator</a>
                                        </li>
                                        <li class="sidebar-menu-item">
                                                <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                                                        <span class="icon"> <i class="fas fa-cogs"></i></span>
                                                    Canteen Management</a>
                                            </li>
                                            <li class="sidebar-menu-item">
                                                <a class="sidebar-menu-item-link" [routerLink]="['/routePath']">
                                                        <span class="icon"> <i class="fas fa-cogs"></i></span>
                                                    Work Flow</a>
                                            </li>
                                        
                                        
    </ul>
</div>
