// .container
//     margin-right 230px
//     margin-left 230px
//     max-width 960px
//     .row
//         .card
//             .card-body
//                 .icon
//                     font-size 30px