<div class="wrapper-right position-fixed">
    <div class="sidebar-right pb-5 d-xl-block d-none">
        <div class="card">
          <img class="card-img-top" src="holder.js/100px180/" alt="">
          <div class="card-body">
            <h4 class="card-title">Mark your holidays</h4>
            <!-- <form>
                   ? <my-date-picker name="ngModelDate" [options]="myDatePickerOptions" [selector]="selector"  required></my-date-picker>
            <p class="card-text">Try Date Picker here</p>
            </form> -->
        </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Company Updates</h4>
                <p class="card-text">Try Full calendar here</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="holder.js/100px180/" alt="">
            <div class="card-body">
                <h4 class="card-title">Employee Birthdays</h4>
                <p class="card-text">Details</p>
            </div>
        </div>
    </div>
</div>
